 
div#n2-ss-1 .n2-ss-slider-1 {
    display: grid;
    position: relative;
}

div#n2-ss-1 .n2-ss-slider-2 {
    display: grid;
    position: relative;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    border: 0px solid RGBA(62, 62, 62, 1);
    border-radius: 0px;
    background-clip: padding-box;
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: scroll;
    z-index: 1;
}

div#n2-ss-1:not(.n2-ss-loaded) .n2-ss-slider-2 {
    background-image: none !important;
}

div#n2-ss-1 .n2-ss-slider-3 {
    display: grid;
    grid-template-areas: 'cover';
    position: relative;
    overflow: hidden;
    z-index: 10;
}

div#n2-ss-1 .n2-ss-slider-3>* {
    grid-area: cover;
}

div#n2-ss-1 .n2-ss-slide-backgrounds,
div#n2-ss-1 .n2-ss-slider-3>.n2-ss-divider {
    position: relative;
}

div#n2-ss-1 .n2-ss-slide-backgrounds {
    z-index: 10;
}

div#n2-ss-1 .n2-ss-slide-backgrounds>* {
    overflow: hidden;
}

div#n2-ss-1 .n2-ss-slide-background {
    transform: translateX(-100000px);
}

div#n2-ss-1 .n2-ss-slider-4 {
    place-self: center;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: grid;
    grid-template-areas: 'slide';
}

div#n2-ss-1 .n2-ss-slider-4>* {
    grid-area: slide;
}

div#n2-ss-1.n2-ss-full-page--constrain-ratio .n2-ss-slider-4 {
    height: auto;
}

div#n2-ss-1 .n2-ss-slide {
    display: grid;
    place-items: center;
    grid-auto-columns: 100%;
    position: relative;
    z-index: 20;
    -webkit-backface-visibility: hidden;
    transform: translateX(-100000px);
}

div#n2-ss-1 .n2-ss-slide {
    perspective: 1500px;
}

div#n2-ss-1 .n2-ss-slide-active {
    z-index: 21;
}

.n2-ss-background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

div#n2-ss-1 .n2-ss-background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

div#n2-ss-1 .n2-ss-background-animation .n2-ss-slide-background {
    z-index: auto;
}

div#n2-ss-1 .n2-bganim-side {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background: RGBA(51, 51, 51, 1);
}

div#n2-ss-1 .n2-bganim-tile-overlay-colored {
    z-index: 100000;
    background: RGBA(51, 51, 51, 1);
}

div#n2-ss-1 .n2-ss-control-bullet {
    visibility: hidden;
    text-align: center;
    justify-content: center;
    z-index: 14;
}

div#n2-ss-1 .n2-ss-control-bullet--calculate-size {
    left: 0 !important;
}

div#n2-ss-1 .n2-ss-control-bullet-horizontal.n2-ss-control-bullet-fullsize {
    width: 100%;
}

div#n2-ss-1 .n2-ss-control-bullet-vertical.n2-ss-control-bullet-fullsize {
    height: 100%;
    flex-flow: column;
}

div#n2-ss-1 .nextend-bullet-bar {
    display: inline-flex;
    vertical-align: top;
    visibility: visible;
    align-items: center;
    flex-wrap: wrap;
}

div#n2-ss-1 .n2-bar-justify-content-left {
    justify-content: flex-start;
}

div#n2-ss-1 .n2-bar-justify-content-center {
    justify-content: center;
}

div#n2-ss-1 .n2-bar-justify-content-right {
    justify-content: flex-end;
}

div#n2-ss-1 .n2-ss-control-bullet-vertical>.nextend-bullet-bar {
    flex-flow: column;
}

div#n2-ss-1 .n2-ss-control-bullet-fullsize>.nextend-bullet-bar {
    display: flex;
}

div#n2-ss-1 .n2-ss-control-bullet-horizontal.n2-ss-control-bullet-fullsize>.nextend-bullet-bar {
    flex: 1 1 auto;
}

div#n2-ss-1 .n2-ss-control-bullet-vertical.n2-ss-control-bullet-fullsize>.nextend-bullet-bar {
    height: 100%;
}

div#n2-ss-1 .nextend-bullet-bar .n2-bullet {
    cursor: pointer;
    transition: background-color 0.4s;
}

div#n2-ss-1 .nextend-bullet-bar .n2-bullet.n2-active {
    cursor: default;
}

div#n2-ss-1 div.n2-ss-bullet-thumbnail-container {
    position: absolute;
    z-index: 10000000;
}

div#n2-ss-1 .n2-ss-bullet-thumbnail-container .n2-ss-bullet-thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div#n2-ss-1 .n2-style-37b83350d88fb82e7ea26e8ad7887167-dot {
    background: RGBA(0, 0, 0, 0);
    opacity: 1;
    padding: 5px 5px 5px 5px;
    box-shadow: none;
    border: 2px solid RGBA(255, 255, 255, 0.8);
    border-radius: 50px;
    margin: 4px;
}

div#n2-ss-1 .n2-style-37b83350d88fb82e7ea26e8ad7887167-dot.n2-active,
div#n2-ss-1 .n2-style-37b83350d88fb82e7ea26e8ad7887167-dot:HOVER,
div#n2-ss-1 .n2-style-37b83350d88fb82e7ea26e8ad7887167-dot:FOCUS {
    background: RGBA(255, 255, 255, 0.8);
    border: 2px solid RGBA(255, 255, 255, 0.8);
}

div#n2-ss-1 .n2-ss-slide-limiter {
    max-width: 1200px;
}

@media (min-width: 1200px) {
    div#n2-ss-1 [data-hide-desktopportrait="1"] {
        display: none !important;
    }
}

@media (orientation: landscape) and (max-width: 1199px) and (min-width: 901px),
(orientation: portrait) and (max-width: 1199px) and (min-width: 701px) {
    div#n2-ss-1 [data-hide-tabletportrait="1"] {
        display: none !important;
    }
}

@media (orientation: landscape) and (max-width: 900px),
(orientation: portrait) and (max-width: 700px) {
    div#n2-ss-1 [data-hide-mobileportrait="1"] {
        display: none !important;
    }
}
 